# Project exclude paths
/consumer/target/
/eurekaclient/target/
/eurekasever/target/
/feign/target/
/hystrix/target/
/nativeconfigclient/target/
/nativeconfigserver/target/
/resttemplate/target/
/ribbon/target/
/zuul/target/